[server] 
#ipaddress= 10.0.11.20
ipaddress   = 192.168.1.200
port        = 1909
authkey     = TestPwd
valvesPin   = 11,12,13,15
thermoPin   = 23
rainPin     = 8
waterBudget = 80

#Time without rain
wateringPace= 24

zoneCfgFile = /var/www/raspberry/zones.cfg
logFilePath = /data/gardenpi/irrigationLog.txt
logFileHTML = /var/www/raspberry/irrigationLog.txt
rainFlagFile= /data/gardenpi/rain/rain.flg
#dbName      = /var/www/rasperry/service/gardenpi.db
dbName      = /data/gardenpi/gardenpi.db
